
@section Title {
   Kayıt başarılı.
}
<div class="container mt-5">
    <h2>Kayıt başarılı.</h2>
    <div class="alert alert-success" role="alert">
        Kayıt işleminiz başarıyla tamamlandı. Onaylanmak üzere yöneticinin incelemesine gönderildi.
        Giriş yapmak için <a href="/TowOperator/Login">buraya</a> tıklayın.
    
</div>

